<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Give a tip</title>

  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/contact.css">
  <link
    href="https://fonts.googleapis.com/css?family=Inria+Serif:400,700&display=swap&subset=latin-ext"
    rel="stylesheet">
  <script src="https://kit.fontawesome.com/7ddcbdd4a1.js"
    crossorigin="anonymous"></script>
  <script src="data.js"></script>

</head>

<body onload="loadData()">
  <div id="container">
    <div id="logo">Give a tip!</div>
    <div id="menu">
      <ul>
        <li><a href="./">Strona główna</a></li>
        <li><a href="./kontakt">Kontakt</a></li>
      </ul>
    </div>
    <div id="content">
      <div>Mateusz Niepogoda</div>
      <div>s17929</div>
    </div>
    <div id="footer">Made by Mateusz Niepogoda</div>
  </div>
  </div>
</body>

</html>